.movie-card {
  margin: 10px;

}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}



button{
  font-size:large;
  outline: none;
}

/*button:target{*/
  /*background-color: red;*/
/*}*/


